/* GENERAL */
*{
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* HEADER */
.container_principalHeader{
  width: 100 vw;
  height: 8vh;
  background-color: 	#DA291C;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containter_contentHeader{
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0.4 rem;
}

.search_container{
  display: flex;
  gap: 5px;
}

.inputHeader{
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem;
  outline: none;
  font-size: 2vh;
  height: 3vh;
  width: 14vw;
}

.buttonSearch{
border: 1px solid white;
background-color: transparent;
border-radius: 0.4rem;
padding: 0.4rem;
width: 6vw;
color: white;
display: flex;
gap: 5px;
align-items: center;
justify-content: center;
}

.buttonSearch:hover{
  cursor: pointer;
}

.add_container{
  display: flex;
  gap: 5px;
}

.Header__buttonAdd{
  margin-right: 35px;
  display: flex;
  padding: .4rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: .4rem;
}

/* MAIN */

.container_view{
  display: grid;
  grid-template-columns: .2fr .8fr;
}

.listAside{
  height: 92vh;
}

.store{
  background-color: rgb(100, 98, 98);
  height: 92vh;
}


/* LISTASIDE */
.listAside{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listAside h2{
  margin-top: 2vh;
  display: flex;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
}

.listAside ul{
  margin-top: 3vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1vh;
}

.listAside ul li{
  font-size: 2vh;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: .4rem;
  cursor: pointer;
  color: white;
}

.listAside ul li:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #DA291C;
  color: white;
  transition: 0.2s;
}
.listAside ul li:not(:hover){
  background-color: 	#FFC72C;
  color: #292929;
  transition: 0.2s;
}

.liActive{
background-color: 	#FFC72C;
}