/* GENERAL */
*{
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* HEADER */
.container_principalHeader{
  width: 100 vw;
  height: 8vh;
  background-color: 	#DA291C;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containter_contentHeader{
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0.4 rem;
}

.search_container{
  display: flex;
  gap: 5px;
}

.inputHeader{
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem;
  outline: none;
  font-size: 2vh;
  height: 3vh;
  width: 14vw;
}

.buttonSearch{
border: 3px solid white;
background-color: transparent;
border-radius: 0.4rem;
padding: 0.4rem;
width: 6vw;
color: white;
display: flex;
gap: 5px;
align-items: center;
justify-content: center;
}

.buttonSearch:hover{
  cursor: pointer;
  background-color: #F04A3C;
  color: white;
  transition: .2s;
}

.buttonSearch:not(:hover){
  background-color: #DA291C;
  color: white;
  transition: 0.2s;
}

.add_container{
  display: flex;
  gap: 5px;
}

.Header__buttonAdd{
  margin-right: 35px;
  display: flex;
  padding: .4rem;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  border-radius: .4rem;
  cursor: pointer;
}

.Header__buttonAdd:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.2s;
  background-color: #F04A3C;
  color: white;
}

.Header__buttonAdd:not(:hover){
  background-color: #DA291C;
  color: white;
  transition: .2s;
}


/* MAIN */

.container_view{
  display: grid;
  grid-template-columns: .2fr .8fr;
}

.listAside{
  height: 92vh;
  color: #F07E2E;
}

.store{
  background-color:white;
  max-height: 92vh;
  overflow-y: auto;
  width: 100%;
}


/* LISTASIDE */
.listAside{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #502314;
}

.listAside h2{
  margin-top: 2vh;
  display: flex;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
}

.listAside ul{
  margin-top: 3vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1vh;
}

.listAside ul li{
  font-size: 2vh;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: .4rem;
  cursor: pointer;
  color: white;
}

.listAside ul li:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #F07E2E;
  color: white;
  transition: 0.2s;
}
.listAside ul li:not(:hover){
  background-color: 	#FFC72C;
  color: #292929;
  transition: 0.2s;
}

ul#listFilter li.liActive {
  background-color: #F07E2E;
  color: white;
}

/* POPUPS */

.msj_popUp{
  text-align: center;
}

.popUpContainer__principal{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px)
}

.popUpContainer{
  width: 50vw;
  height: 50vh;
  background-color: white;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.containerInput__PopUp{
  margin-top: 15px;
  display: flex;
  gap: 2vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerInput__PopUp input,
.containerInput__PopUp select{
  width: 60%;
  gap: 2vh;
  border: 1px solid;
  padding: .4rem;
  border-radius: .4rem;
}

.containerButtonsPopUp{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button__PopUp{
  border-radius: .1rem;
  border: none;
  cursor: pointer;
  padding: 4px;
  background-color: rgb(188, 188, 188);
  font-size: 2vh;
}

.delete{
  background-color: #DA291C;
}

.accept{
  background-color: #3d742a;
}

.cancel{
  background-color: #FFC72C;
}

/* CATEGORIAS */

.sectionStore{
  background-color: white;
  margin: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

}

.containerTitleSection{
  margin: 1rem;
  font-size: 3vh;
  border-bottom: 1px solid grey;
}

.sectionStore img{
  width: 100%;
  border-radius: .4rem;
  
}

.containerProductStore{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, .6fr);
  gap: 2vh;
}

.containerTargetItem{
  background-color: #efe2cf;
  min-height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: .4rem;
  align-items: center;
  box-shadow: 2px 2px 5px 4px gray;
  border-radius: .4rem;
  cursor: pointer;
  overflow: hidden;
}

.targetProps{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.product_name{
  text-align: center;
}

.text_content{
  justify-content: center;
  align-items: center;
}

.img_prod{
  transition: .4s ease;
}

.img_prod:hover{
  transform: scale(1.1);
}