*{
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.container_principalHeader{
  width: 100 vw;
  height: 8vh;
  background-color: #1e3f72;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containter_contentHeader{
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0.4 rem;
}

.search_container{
  display: flex;
  gap: 5px;
}

.inputHeader{
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem;
  outline: none;
  font-size: 2vh;
  height: 3vh;
  width: 14vw;
}

.buttonSearch{
border: 1px solid white;
background-color: transparent;
border-radius: 0.4rem;
padding: 0.4rem;
width: 6vw;
color: white;
display: flex;
gap: 5px;
align-items: center;
justify-content: center;
}

.buttonSearch:hover{
  cursor: pointer;
}

.add_container{
  display: flex;
  gap: 5px;
}

.Header__buttonAdd{
  margin-right: 35px;
  display: flex;
  padding: .4rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: .4rem;
}